# IBM data visdualization submission

In [1]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv('C:/Users/ronni/Desktop/survey.csv')

In [5]:
df.head()

,Unnamed: 0,Very interested,Somewhat interested,Not interested
0,Big Data (Spark / Hadoop),1332,729,127
1,Data Analysis / Statistics,1688,444,60
2,Data Journalism,429,1081,610
3,Data Visualization,1340,734,102
4,Deep Learning,1263,770,136

In [6]:
df

,Unnamed: 0,Very interested,Somewhat interested,Not interested
0,Big Data (Spark / Hadoop),1332,729,127
1,Data Analysis / Statistics,1688,444,60
2,Data Journalism,429,1081,610
3,Data Visualization,1340,734,102
4,Deep Learning,1263,770,136
5,Machine Learning,1629,477,74

In [8]:
df.rename(columns={'Unnamed: 0':'Topics'}, inplace=True)

In [10]:
df.set_index('Topics', inplace=True)

In [11]:
df

,Very interested,Somewhat interested,Not interested
Topics,,,
Big Data (Spark / Hadoop),1332,729,127
Data Analysis / Statistics,1688,444,60
Data Journalism,429,1081,610
Data Visualization,1340,734,102
Deep Learning,1263,770,136
Machine Learning,1629,477,74

In [16]:
df.info

<bound method DataFrame.info of                             Very interested  Somewhat interested  \
Topics
Big Data (Spark / Hadoop)              1332                  729
Data Analysis / Statistics             1688                  444
Data Journalism                         429                 1081
Data Visualization                     1340                  734
Deep Learning                          1263                  770
Machine Learning                       1629                  477

                            Not interested
Topics
Big Data (Spark / Hadoop)              127
Data Analysis / Statistics              60
Data Journalism                        610
Data Visualization                     102
Deep Learning                          136
Machine Learning                        74  >